<div class="container">
  <h2>Patienten</h2>
  
  <button mat-raised-button color="primary" (click)="addPatient()" class="add-button">
    <mat-icon>add</mat-icon>
    Patient hinzufügen
  </button>

  <table mat-table [dataSource]="patients" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Vorname</th>
      <td mat-cell *matCellDef="let patient">{{patient.name}}</td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>Nachname</th>
      <td mat-cell *matCellDef="let patient">{{patient.surname}}</td>
    </ng-container>

    <!-- Note Column -->
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef>Bemerkung</th>
      <td mat-cell *matCellDef="let patient">{{patient.note}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Aktionen</th>
      <td mat-cell *matCellDef="let patient">
        <button mat-icon-button color="primary" (click)="editPatient(patient)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePatient(patient.id!)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
